@import '../.././../../styles/functions/functions';

.number-select {
    margin-top: 5px;
    padding: 2rem;
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: var(--shadow);
    min-width: 300px;

    &-display {
        color: var(--text);
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 7px;
        cursor: pointer;

        @include mobile() {
            min-width: 65vw;
            text-align: start;
        }
    }

    &-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__button {
        font-size: 2.5rem;
        cursor: pointer;
        color: var(--text);
        transition: color 0.1s ease-in;

        &:hover {
            color: var(--primary);
        }
    }

    &__buttons {
        display: flex;
    }
}
