.status-notification {
    padding: .5rem 1rem;
    border-radius: 8px;
    font-size: .8rem;
    color: var(--white);

    &--error {
        background-color: var(--error);
    }

    &--success {
        background-color: var(--success);
    }

    &--warning {
        background-color: var(--warning);
        color: var(--text);
        font-weight: bold;
    }
}