<div class="notes">
    <div class="content-container container-fluid">
        <div class="row middle-xs">
            <div class="col-xs-12 col-md-8">
                <h2>Meine Notizen</h2>
            </div>
            <div class="col-xs-12 col-md-4 end-xs">
                <button class="button" routerLink="/notes/add">
                    <i class='uil uil-plus'></i>
                    <span>Hinzufügen</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4" *ngFor="let note of notes$ | async; trackBy: identify">
                <app-note-card [note]="note"></app-note-card>
            </div>
        </div>
    </div>
</div>

<app-footer [whiteMode]="true"></app-footer>