<div class="notes">
    <div class="content-container container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2>Meine Notizen</h2>
            </div>
            <div class="col-xs-12 col-md-4">

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4" *ngFor="let note of notes$ | async">
                <app-note-card></app-note-card>
            </div>
        </div>
    </div>
</div>

<app-footer [whiteMode]="true"></app-footer>