<div class="notes">
    <div class="content-container container-fluid">
        <div class="row middle-xs m-b-10">
            <div class="col-xs-12 col-md-8">
                <h2>Meine Notizen</h2>
            </div>
            <div class="col-xs-12 col-md-4 end-xs">
                <button class="button" routerLink="/notes/add">
                    <i class='uil uil-plus'></i>
                    <span>Hinzufügen</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4 m-b-15" *ngFor="let note of notes$ | async; trackBy: identify">
                <app-note-card [note]="note"></app-note-card>
            </div>

            <div class="col-xs-12 middle-xs" *ngIf="canShowNoNotesWarning()">
                <div class="notes__not-found middle-xs center-md">
                    <i class='uil uil-confused'></i>
                    <span>Keine Notizen gefunden. <br class="show-xs">Neue Notizen erscheinen hier.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer [whiteMode]="true"></app-footer>