.button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: .9rem;
    font-family: inherit;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 0;
    border: 1px solid var(--primary);
    outline: none;
    cursor: pointer;
    width: auto;

    &:hover {
        color: var(--grey);
        text-decoration: none;
    }
}

.nav-button {
    display:inline-block;
    cursor: pointer;

    &__text {
        font-weight: bold;
        @include fontSize(16px);
        color: var(--text);
        transition: all .1s ease-in;

        &:hover {
            color: var(--text-hover);
        }
    }

    &__icon {
        color: var(--text);
        font-size: 1.5rem;
        margin-right: 5px;
        vertical-align: -2px;

        &:hover {
            color: var(--text-hover);
        }
    }
}