@import "./variables";
@import "./colors";
@import "./grid";

* {
  box-sizing: border-box;
}

html {
  color: var(--text);

  @include mobile() {
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track {
        display: none !important;
        -webkit-appearance: none !important;
        width: 0 !important;
    }
  }
}

body {
  @include fontSize(16px);
  background-color: var(--background);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  @include fontSize($font-size-h1)
}

h2 {
  @include fontSize($font-size-h2)
}

h3 {
  @include fontSize($font-size-h3)
}

h1,
h2 {
  line-height: 1.3;
}

p {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: var(--primary);
  }
}

i {
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.container-fluid {
  padding: 2rem;
}

.sticky {
  position: sticky;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

.icon-button {
  font-size: 2rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}