$height: 340px;

.search-hero {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1501862348429-dc69b017f297?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

  &__content {
    z-index: 50;
    width: 100%;
    min-height: $height;
    height: $height;
    max-height: $height;
    text-align: center;
    color: var(--white);
  }

  &__title {
    padding-top: 2rem;
    font-size: 2.4rem;
    font-weight: bold;

    @include mobile() {
      padding-top: 0;
      font-size: 1.7rem;
    }
  }

  &__search {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;

    @include mobile() {
      width: 90vw;
      margin-top: 0;
    }
  }
}
