// Font sizes
$base-font-size: 16px;
$font-size-h1: 36px;
$font-size-h2: 22px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;

:root {
    --max-width: 650px;
    --default-shadow: 0 0 10px rgba(0,0,0,0.2);
}

$max-width: 650px;
