.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &__logo {
        width: auto;
        display: block;
        height: 66px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    li {
        display: flex;
        margin-right: 1.5rem;
    }
}

.navbar {
    min-height: var(--nav-height);
    max-height: var(--nav-height);
    background-color: var(--background);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 400;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
