<div class="navbar">
    <div class="m-l-10">
        <img class="nav__logo" routerLink="/" src="assets/img/logo.png">
    </div>
    <div class="hide-xs">
        <ul class="nav">
            <li *ngIf="canShowMapButton()" class="nav__item">
                <div class="nav-button" [routerLink]="['/map']">
                    <i class='uil uil-map nav-button__icon'></i>
                    <span class="nav-button__text">Karte</span>
                </div>
            </li>

            <li *ngIf="isLoggedIn$ | async" class="nav__item">
                <div class="nav-button hide-xs" [routerLink]="['/saved']">
                    <i class='uil uil-heart nav-button__icon'></i>
                    <span class="nav-button__text">Gespeichert</span>
                </div>
            </li>

            <li *ngIf="isLoggedIn$ | async" class="nav__item">
                <div class="nav-button" [routerLink]="['/notes']">
                    <i class='uil uil-notes nav-button__icon'></i>
                    <span class="nav-button__text">Notizen</span>
                </div>
            </li>

            <li class="nav__item">
                <div class="nav-button" (click)="handleAuthButtonClick()">
                    <i class='uil uil-user nav-button__icon'></i>
                    <span class="nav-button__text">{{(isLoggedIn$ | async) ? 'Abmelden' : 'Anmelden'}}</span>
                </div>
            </li>
        </ul>
    </div>


    <div class="show-xs">
        <ul class="nav nav--mobile">
            <li class="nav__item">
                <div class="nav-button" (click)="toggleMobileNav()">
                    <i class='uil uil-bars nav-button__icon nav__menu' *ngIf="!isMenuOpen"></i>
                    <i class='uil uil-times nav-button__icon nav__menu' *ngIf="isMenuOpen"></i>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="show-xs">
    <ul class="mobile-menu" [class.mobile-menu--active]="isMenuOpen">
        <li *ngIf="(isLoggedIn$ | async)" class="mobile-menu__item" (click)="toggleMobileNav()">
            <div class="nav-button" [routerLink]="['/map']">
                <i class='uil uil-search nav-button__icon'></i>
                <span class="nav-button__text">Suche</span>
            </div>
        </li>

        <li *ngIf="isLoggedIn$ | async" class="mobile-menu__item">
            <div class="nav-button hide-xs" [routerLink]="['/saved']" (click)="toggleMobileNav()">
                <i class='uil uil-heart nav-button__icon'></i>
                <span class="nav-button__text">Gespeichert</span>
            </div>
        </li>

        <li *ngIf="isLoggedIn$ | async" class="mobile-menu__item">
            <div class="nav-button" [routerLink]="['/notes']" (click)="toggleMobileNav()">
                <i class='uil uil-notes nav-button__icon'></i>
                <span class="nav-button__text">Notizen</span>
            </div>
        </li>

        <li class="mobile-menu_item">
            <div class="nav-button" (click)="handleAuthButtonClick()">
                <i class='uil uil-user nav-button__icon'></i>
                <span class="nav-button__text">{{(isLoggedIn$ | async) ? 'Abmelden' : 'Anmelden'}}</span>
            </div>
        </li>
    </ul>
</div>