<div class="navbar">
    <div class="m-l-10">
        <img class="nav__logo" routerLink="/" src="assets/img/logo.png">
    </div>
    <div class="hide-xs">
        <ul class="nav">
            <li>
                <div class="nav-button">
                    <i class='uil uil-heart nav-button__icon'></i>
                    <span class="nav-button__text">Gespeichert</span>
                </div>
            </li>
    
            <li>
                <div class="nav-button">
                    <i class='uil uil-notes nav-button__icon'></i>
                    <span class="nav-button__text">Notizen</span>
                </div>
            </li>
    
            <li>
                <div class="nav-button">
                    <i class='uil uil-user nav-button__icon'></i>
                    <span class="nav-button__text">Anmelden</span>
                </div>
            </li>
        </ul>
    </div>
</div>