<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="result-search-container">
            <app-search-bar [mapMode]="true"></app-search-bar>
        </div>

        <div class="result-container container-fluid">
            <div class="row no-col-pad">
                <ng-container *ngIf="!canShowLoadingCards()">
                    <div class="col-xs-12" *ngFor="let listing of listings$ | async; trackBy: identify">
                        <app-result-card [listing]="listing" [isLoading]="isLoading()"></app-result-card>
                    </div>
                </ng-container>

                <ng-container *ngIf="canShowLoadingCards()">
                    <div class="col-xs-12" *ngFor="let listing of [0,1,2]">
                        <app-result-card [listing]="null" [isLoading]="true"></app-result-card>
                    </div>
                </ng-container>

                <ng-container *ngIf="canShowWarning()">
                    <div class="col-xs-12 center-xs">
                        <app-status-notification
                            text="Keine Ergebnisse verfügbar. Bitte ändere deine Eingaben und versuche es erneut."
                            type="warning">
                        </app-status-notification>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="col-md-6 hide-xs interactive-map">
        <app-interactive-google-map [listings]="listings$ | async"></app-interactive-google-map>
    </div>
</div>