<footer class="footer">
    <div class="content-container container-fluid">
        <div class="row">
            <div class="col-md-8 col-xs-12 p-0">
                <img src="assets/img/logo.png" height="120px" width="auto">
            </div>
            <div class="col-md-2 col-xs-12">
                <h4>Reiseziele</h4>
                <ul>
                    <li><a>Spanien</a></li>
                    <li><a>Kroatien</a></li>
                    <li><a>Island</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12">
                <h4>Unterkünfte</h4>
                <ul>
                    <li><a>Ferienwohnung</a></li>
                    <li><a>Villa</a></li>
                    <li><a>Ferienhaus</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>