@import "../../../../styles/functions/functions";

.result-card {
    border-radius: 8px;
    box-shadow: var(--shadow);
    overflow: hidden;
    max-height: 200px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    background-color: var(--background);
    -webkit-tap-highlight-color: transparent;

    @include mobile() {
        max-height: initial;
    }

    &--map {
        font-family: "Manrope";
        box-shadow: none;
        margin-bottom: 0;
        width: 400px;

        @include mobile() {
            width: auto;

            .result-card__image {
                height: 150px;
            }
        }

        .result-card-content {
            padding: 1rem 1rem 1rem 5px;

            &__price,
            &__period {
                display: inline-flex;
            }

            &__price {
                margin-right: 0.5rem;
            }

            &__amenities {
                margin-bottom: 1rem;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobile() {
            height: 200px;
        }
    }

    &:hover {
        .result-card-content__title {
            //text-decoration: underline;
            color: var(--primary-dark);
        }
    }
}

.result-card-content {
    padding: 1rem 1.5rem 1rem 1rem;

    &__title {
        margin-bottom: .5rem;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        color: var(--text);
        transition: color 0.1s ease-in;

        @include mobile() {
            margin: 0.5rem 0;
        }
    }

    &__rating {
        i {
            color: var(--primary);
        }
    }

    &__amenities {
        display: flex;
        font-weight: bold;

        li {
            margin-right: 1.2rem;
        }

        i {
            font-size: 1.4rem;
            vertical-align: -2px;
        }
    }

    &__price {
        font-weight: bold;
        line-height: 1.2;
        font-size: 1.4rem;
    }

    &__period {
        @include fontSize(12px);
    }

    &__fav-container {
        margin-top: auto;
        padding: 0 0.5rem;
    }
    &__fav-btn {
        $button-size: 35px;
        width: $button-size;
        height: $button-size;
        border-radius: 50px;
        background-color: var(--grey-alt);
        text-align: center;
        transition: all 0.1s ease-in;

        &:hover {
            background-color: var(--grey);
        }

        i {
            color: var(--white);
            font-size: 1.3rem;
            transition: inherit;
            vertical-align: -10px;
        }

        &--active {
            background-color: var(--red);

            i {
                color: var(--white);
            }

            &:hover {
                background-color: var(--red-dark);
            }
        }
    }
}
