<form [formGroup]="searchForm" class="search-container row no-col-pad middle-xs">
    <div class="col-md-4 col-xs-12">
        <div class="search-box search-box--border">
            <i class='uil uil-location-point'></i>
            <input class="search-box__destination" 
            ngx-google-places-autocomplete 
            [options]="placesOptions"
            (onAddressChange)="handleAddressChange($event)"
            placeholder="Urlaubsort" 
            [formControl]="searchForm.get('destination.name')">
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="search-box search-box--border">
            <i class='uil uil-calendar-alt'></i>
            <app-litepicker [parentControl]="searchForm.get('date')"></app-litepicker>
        </div>
    </div>
    <div class="col-xs-12" [ngClass]="getGuestClass()">
        <div class="search-box">
            <i class='uil uil-users-alt'></i>
            <app-number-select [parentControl]="searchForm.get('guests')" [config]="getGuestConfig()"></app-number-select>
        </div>
    </div>
    <div class="col-md-2 col-xs-12" *ngIf="!mapMode">
        <button class="search-button button" type="submit" (click)="submitForm()">
            <i class='uil uil-search'></i>
            <span>Suchen</span>
        </button>
    </div>
</form>